Git Repository Link - https://github.com/Patil-Minal/MEAN-STACK-PROJECTS

Folder - MEAN_Stack_Phase1

Project Details -
home.html - This is the main page.
styles.css - This is the style sheet that is used to design web page
add_blog.js - Is the javascript code which has function add_blog() to add new blogs to the page.


