
html { font-size: 15px; }
body { padding: 1rem; }


.cards {
    display:grid;
    grid-template-columns: repeat(3,300px) ;
    grid-template-rows: 150px 200px;
    grid-gap: 5px;
    background-color:white; 
}
 



 